.list-cell {
    -fx-padding: 0 0 0 3;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

.slider .track {
    -fx-background-color: gray;
    -fx-padding: 8;
}

.border {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.controlsVbox {
    -fx-padding: 10;
}